MONGO_URI=mongodb://localhost:27017/patitas-bog
JWT_SECRET_KEY=patitas-bog-jwt-secret
FLASK_ENV=development
SECRET_KEY=patitas-bog-secret-key
REPORTS_SERVICE_URL=http://localhost:5050
USERS_SERVICE_URL=http://localhost:5000
